body {
  background-color: black;
  color: white;
}

h1 {
  margin-top: 25px;
  text-align: center;
}
h2 {
  text-align: center;
}

path, line {
  fill: none;
  stroke: #fff;
}

.chart {
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  padding: 100px 100px 100px 100px;
  margin-top: 50px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
}

.chart text.axis-label {
  fill: white;
  font: 18px sans-serif;
  text-anchor: middle;
}

.chart #tooltip text {
  fill: #000;
  font: 12px sans-serif;
  font-family: Verdana;
}

.chart circle text {
  fill: white;
}

/* Link to GitHub */
#my-about {
  bottom: 0.5em;
  right: 3em;
  font-size: 1em;
  position: fixed;
}

a,
a:visited{
  font-size: 0.8em;
  color: rgb(51, 122, 183);

  text-decoration: none;
}

a:hover {
  color:#fff;
}