body {
	background-color: black;
	color: white;
}

h1 {
	margin-top: 25px;
	text-align: center;
}
h2 {
	text-align: center;
}

path, line {
	fill: none;
	stroke: #fff;
}

.chart {
	display: block;
	margin: 0 auto;
	padding: 100px 100px 100px 100px;
	margin-top: 50px;
	margin-bottom: 200px;
	border: 1px solid white;
}
.chart text {
	fill: white;
	font: 10px sans-serif;
}
.chart text.axisLabel {
	fill: white;
	font: 18px sans-serif;
	text-anchor: middle;
}
.chart #tooltip text {
	fill: #000;
	font: 12px sans-serif;
	font-family: Verdana;
}
.chart circle text {
	fill: white;
}
